thead {
    text-align: center;
}

td {
     text-align: center;
 }

a { 
    color: white; 
} 

.sortable {
    cursor: pointer;
}
.alignFilter {
    left: 550px;
}
.exportButton {
    background-color: green !important;
    left: 50px;
    top: 10px;
}